<% include ../partials/header %>

     <div class="row">
        <div class="jumbotron">
            <h1 class="text-center">Hi, Welcome to Scroll With Me! <br> Click 'Sign Up' to Get Started</h1>
        </div>
        <div class="row">
            
        </div>
        
    </div>
    
<% include ../partials/footer %>