/******************************************************************************
Global Styles
*******************************************************************************/
@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Handlee');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 24px sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
    /*font-size: 24px;*/
    
    /* fallback for old browsers */
    background: #232526;
    background: -webkit-linear-gradient(left, #414345, #232526);
    background: -moz-linear-gradient(left, #414345, #232526);
    background: -o-linear-gradient(left, #414345, #232526);
     /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #414345, #232526); 
}

main {
    display: flex;
    flex-direction: column; 
}

hr {
    width: 100%; 
    margin: 2% 0; 
}

.flipImg {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

/******************************************************************************
Shared
*******************************************************************************/
.timeline-section, 
.skills-section, 
.interests-section, 
.work-experience-section, 
.education-section,  
.quotes-section, 
.other-section,
.projects-section {
    text-align: center; 
    margin: 0 auto; 
    margin-bottom: 5%; 
}
    
.skills-section,
.interests-section,
.work-experience-section,
.education-section,
.projects-section {
    opacity: 0.95; 
}

.section-background {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 75vh;
    height: 100%;
    background-size: cover;
    box-shadow: inset 0px 0px 10px 2px #232526;
}

.title h2 {
    padding: 5% 0; 
    font-variant: small-caps;
}

section a {
    font-style: italic;
}

@media (min-width:320px), (min-width:481px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */ 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    
    html {
        font-size: .8em; 
    }
    
    .timeline-section, .skills-section, .interests-section, .work-experience-section, .education-section,  .quotes-section, .other-section, .projects-section {
        text-align: center; 
        width: 95%; 
        margin: 0 auto; 
        margin-bottom: 5%; 
    }
    
    .skill-header img,
    .interest-header img {
        height: 10%; 
        width: 10%; 
        margin: 0 2%; 
    }
    
    .experience-all,
    .education-all, 
    .projects-all {
        font-size: 1.2em; 
    }
    
    .cover-letter {
        margin-left: 2%;
        width: 96%; 
    }
    
    .cover-letter-header {
        font-size: 1.5em;
    }
    
    .cover-letter-body {
        padding-left: 16%;
        padding-right: 10%;
        padding-top: 2%; 
        line-height: 20px; 
        /*max-height: 70vh;*/
        /*overflow-y: scroll;*/
    }
    
}

/*@media (min-width:481px)  { */
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    
/*}*/

@media (min-width:641px), (min-width:961px)  { 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    
    html {
        font-size: 1em; 
    }
    
    .timeline-section, .skills-section, .interests-section, .work-experience-section, .education-section,  .quotes-section, .other-section, .projects-section {
        text-align: center; 
        width: 80%; 
        margin: 0 auto; 
        margin-bottom: 5%; 
    }
    
    .skill-header img,
    .interest-header img {
        height: 7.5%; 
        width: 7.5%; 
        margin: 0 2%;
    }
    
    .experience,
    .education, 
    .project{
        font-size: 1.3em; 
    }
    
    .cover-letter {
        margin-left: 5%;
        width: 90%; 
    }
    
    .cover-letter-header {
        font-size: 2em;
    }
    
    .cover-letter-body {
        padding-left: 15%;
        padding-right: 10%;
        padding-top: .7em;
        line-height: 20px; 
    }
}

/*@media (min-width:961px)  { */
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    
/*}*/

@media (min-width:1025px), (min-width:1281px)  { 
    /* big landscape tablets, laptops, and desktops */ 
    /* hi-res laptops and desktops */ 
    
    html {
        font-size: 1.5em; 
    }
    
    .timeline-section, .skills-section, .interests-section, .work-experience-section, .education-section,  .quotes-section, .other-section, .projects-section {
        text-align: center; 
        width: 50%; 
        margin: 0 auto; 
        margin-bottom: 5%; 
    }
    
    .skill-header img,
    .interest-header img {
        height: 5%; 
        width: 5%; 
        margin: 0 2%; 
    }
    
    .experience,
    .education, 
    .project {
        font-size: 1.5em; 
    }
    
    .cover-letter {
        margin-left: 25%;
        width: 50%; 
    }
    
    .cover-letter-header {
        font-size: 2em;
    }
    
    .cover-letter-body {
        padding-left: 14%;
        padding-right: 10%;
        padding-top: .7em;
        line-height: 20px; 
    }
}


/******************************************************************************
Sticky Content Throughout Main Section
*******************************************************************************/
#sticky-content{
    display: flex;
    padding-left: 1%; 
    top: 100vh;
}

.sticky-social {
    display: flex;
    flex-direction: column;
}

/******************************************************************************
Landing page section
*******************************************************************************/
.landing-page {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    text-align: center; 
    min-height: 100vh;
}

.landing-page .banner-image {
    font-size: 4em; 
}

.introduction, 
.elevator-pitch {
    opacity: 0;
}

.introduction {
    animation: 4s slidefadeIn 1s forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 2; 
}

.elevator-pitch {
    animation: 10s slidefadeIn 4s forwards;
    display: flex;
    justify-content: center;
    flex-grow: 4;
}

.block{
    width: 30%; 
}

@keyframes slidefadeIn {
    100% { opacity: .9; }
}

/******************************************************************************
Cover Letter section 
*******************************************************************************/
.cover-letter {
    font-family: 'Handlee', cursive;
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    overflow-y: scroll;
    position: absolute; 
    top: 3%; 
    padding: 0 2%;
    z-index: 99;
}

.cover-letter::before {
    content: '';
    position: absolute;
    width: 4px;
    top: 0;
    left: 15%;
    bottom: 0;
    border: 1px solid;
    border-color: transparent #efe4e4;
}

.cover-letter-header {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    min-height: 9vh;
}

.cover-letter-header span {
    z-index: 99;
}

.cover-letter-body {
    flex-grow: 8;
    /*text-align: left; */
    padding-top: 1vh;
    text-align: justify;
    background: #fff;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
    background: -webkit-linear-gradient(top, #d9eaf3 5%, #fff 8%) 0 4px;
    background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
 
    -webkit-background-size: 100% 20px;
    -moz-background-size: 100% 20px;
    -ms-background-size: 100% 20px;
    -o-background-size: 100% 20px;
    background-size: 100% 20px;
 
}

.cover-letter-body ul {
    list-style-type: none;
    margin-left: 5%; 
}

.cover-letter-footer {
    flex-grow: 1;
    padding: 2% 0;
    
    background: #fff;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
    background: -webkit-linear-gradient(top, #d9eaf3 5%, #fff 8%) 0 4px;
    background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
    background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
 
    -webkit-background-size: 100% 20px;
    -moz-background-size: 100% 20px;
    -ms-background-size: 100% 20px;
    -o-background-size: 100% 20px;
    background-size: 100% 20px;
 
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/******************************************************************************
Timeline section 
*******************************************************************************/
.events-all {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%; 
}

.event { 
    justify-content: center; 
    margin-top: 0.0em;
    padding-top: 2%; 
}


/******************************************************************************
Skills & Interests section
*******************************************************************************/
.skill-header,
.interest-header {
    font-size: 1.5em; 
    font-weight: bold;
    margin: 2% auto; 
    font-variant: small-caps;
    text-decoration: underline; 
}

.all-skills,
.all-interests  {
    display: flex; 
    flex-direction: column; 
    margin-bottom: 5%; 
}

.skills ul, 
.interests ul {
    list-style-type: none; 
}

.proficiency-key {
    
}

/******************************************************************************
Work Experience & Education section
*******************************************************************************/
.experience-all, 
.education-all, 
.projects-all {
    display: flex; 
    flex-direction: column; 
    margin-bottom: 5%; 
    background-color: #1B1C1D;
    border-radius: 0.28571429rem;
}

.experience,
.education,
.project {
    display: flex; 
    flex-wrap: wrap;
}

.experience-headers,
.education-headers, 
.project-headers{
    display: flex; 
    justify-content: space-between;
}

.experience-image, 
.education-image, 
.project-image{
    margin: auto;
}

.experience-detail,
.education-detail, 
.project-detail {
    text-align: left; 
    margin: 2% 2%;
    width: 100%; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 2%; 
}

.experience-image img,
.education-image img, 
.project-image img {
    border-radius: 10%;
    height: auto;
    width: 10em;
    padding: 2% 2%;
}

.experience li,
.education li, 
.project li {
    margin-left: 6%; 
    margin-top: 1%; 
    font-size: .8em;
}

.experience-detail h2, h3, h4, h5, h6 
.education-detail h2, h3, h4, h5, h6 
.project-detail h2, h3, h4, h5, h6  {
    margin: 0 0;
}

/******************************************************************************
Education section
*******************************************************************************/
.education-detail p {
    font-size: .6em;
    text-align: center;
}

/******************************************************************************
Quotes section
*******************************************************************************/
.quotes-all {
    font-size: 1.5em; 
}
.quotes-detail {
    
}

/******************************************************************************
Other section
*******************************************************************************/
.other-all {
    display: flex; 
    flex-direction: column; 
}

.other {
    display: flex; 
    margin: 2% 2%; 
}

.other-detail {
    width: 70%; 
    text-align: left; 
    margin: 2% 2%;
}

.other-detail ul, .other-detail li {
    list-style-type: none;
    margin: 2% 2%;
}

/******************************************************************************
Footer Section
*******************************************************************************/
.footer {
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
    text-align: center;
    margin: 2% auto; 
    height: 20vh; 
    color: #A29A99;
}

/*a:hover {*/
/*    -moz-transform: scaleX(-1);*/
/*    -o-transform: scaleX(-1);*/
/*    -webkit-transform: scaleX(-1);*/
/*    transform: scaleX(-1);*/
/*    filter: FlipH;*/
/*    -ms-filter: "FlipH";*/
/*    transition-delay:1s;*/
/*}*/

#builtby {
    font-size: 1.5em; 
}