/*Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal "Garamond", sans-serif;
    color: #000000;
}

body {
    display: flex;
    flex-direction: column;
    
    width: 1063px;
    height: 1375px;
    padding: 30px 30px;
}

main a {
    color: black;
}

a {
    text-decoration: none;
}

/*Header Section*/
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /*flex: 1 1 5%;*/
}

header .name {
    font-weight: bold;
    font-size: 2.5em;
}

header .contact {
    text-align: right; 
    font-size: 1.2em;
    margin-bottom: 2px; 
}

/*Body Section*/
main {
    display: flex;
    flex: 1 1 90%;
    flex-direction: column; 
    /*justify-content: flex-start;*/
    justify-content: space-around; 
}

section {
    display: flex;
    flex-direction: column;
}

section h3 {
    text-transform: uppercase;
}

section ul {
    margin-left: 30px;
}

.quotes span {
    font-weight: bold;
}

.section-h1 {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding-top: 10px;
}

.section-h2 {
    display: flex;
    justify-content: space-between;
    font-style: italic; 
}

.section-header {
    order: -999999999;
    margin-top: 20px; 
}

/*work section*/
/*hide timeinjob for this style*/
#timeInJob {
    visibility: hidden;
}

/*skills section */
.skills {
    display: flex;
    justify-content: space-between;
    margin: 0; 
    padding: 0;
}

.skill {
    display: flex;
    justify-content: space-between;
    
    margin-left: -30px;
}

.skill-category {
    font-weight: bold;
    font-size: 1.1em;
    padding-top: 10px;
}

.proficiency {
    padding-left: 5px;
}

.proficiency i {
    margin-right: -3px; /*narrow spacing between circle icons*/
}


/*Footer Section*/
footer {
    display: flex;
    flex-direction: column;
}

footer p {
    text-transform: uppercase;
    font-size: .5em;
    opacity: 0.6;
    align-self: center;
    padding-top: 5px; 
    font-size: .7em;
}

/*these should be hidden in the footer*/
#tags {
    font-size: .1em;
    color: transparent;
}
